.nomeJogo{
    text-align: center;
    color:black;
    padding-top: 40px;
}

.container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.imagem{
    display: flex;   
    justify-content: center;
}

img {
    max-width: 900px; /* Para evitar que a imagem seja maior que a tela */
    max-height: 400px;
  }

.preco{
    padding-top: 15px;
    text-align: justify;
    font-size: 18px;
}

.sinopse{
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

.datas{
    padding-top: 10px;
    text-align: center;
    color: red;
}

.atividade{
    text-align: justify;
}

.submit{
    padding-top: 10px;
    width:100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-right: 10px;
}