.roteiro{
    padding-top: 40px; 
    height: 79.1vh;
}

.lista{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-block: 1rem;

}
